@page
@model menukort.Pages.Burgere.EditBurgerModel
@{
}
<h1>Ændre på Burger</h1>

<form method="post">
    <div class="form-group">
        <label>Burger nummer</label> : @Model.NytBurgerNummer<br />
        <input type="hidden" asp-for="@Model.NytBurgerNummer" />
        <br />

        <label>Burger Navn</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytBurgerNavn" /> <br />
        <span asp-validation-for="@Model.NytBurgerNavn" class="text-danger"></span> <br />

        <label>Burger Beskrivelse</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytBurgerBeskrivelse" /> <br />

        <label>Burger Pris</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytBurgerPris" /> <br />
        <span asp-validation-for="@Model.NytBurgerPris" class="text-danger"></span> <br />

        <label>Vegan</label> <br />
        <input placeholder="[true] = yes" type="" class="form-control" asp-for="@Model.NytBurgerVegan" /> <br />


        <input type="submit" value="Ændre Burger" class="btn  btn-success" asp-page-handler="Change" />
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>



</form>