@page
@using menukort.model;
@model menukort.Pages.Burgere.IndexModel
@{
    ViewData["Title"] = "Burger";
}
<style>
    .jumbotron {
        font-family: 'Pizza', cursive; 
        font-size: 48px;
        text-align: center;
        color: #ff6347; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    .btn-success {
        background-color: #ff6347; 
        border-color: #ff6347; 
        font-family: 'Pizza', cursive; 
    }

    .table th, .table td {
        font-family: 'Pizza', cursive; 
        color: #ff6347; 
    }
</style>

<h1 class="jumbotron">Burger Menu</h1>
<form method="post">

    Vil du oprette en ny burger tryk på <input type="submit" value="Opret Burger" class="btn  btn-success" />

</form>
<p></p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Burger nummer</th>
            <th scope="col">Navn</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">Pris</th>
            <th scope="col">Vegan</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Burger k in Model.Burger)
        {
            <tr>
                <td>@k.Nummer</td>

                <td>@k.Navn</td> 

                <td>@k.Beskrivelse</td>

                <td>@k.Pris</td>

                <td>@k.Vegan</td>

                <td><a asp-page="EditBurger" asp-route-nummer="@k.Nummer">Ændre</a></td>
                <td><a asp-page="DeletePizza" asp-route-nummer="@k.Nummer">Slet</a></td>


            </tr>
        }
    </tbody>
</table>


