@page
@model menukort.Pages.Drikkevarerer.EditDrikkevarerModel
@{
}
<h1>Ændre på Drikkevarer</h1>

<form method="post">
    <div class="form-group">
        <label>Drikkevarer nummer</label> : @Model.NytDrikkevarerNummer<br />
        <input type="hidden" asp-for="@Model.NytDrikkevarerNummer" />
        <br />

        <label>Drikkevarer Navn</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytDrikkevarerNavn" /> <br />
        <span asp-validation-for="@Model.NytDrikkevarerNavn" class="text-danger"></span> <br />

        <label>Drikkevarer Størrelse</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytDrikkevarerStørrelse" /> <br />

        <label>Drikkevarer Pris</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytDrikkevarerPris" /> <br />
        <span asp-validation-for="@Model.NytDrikkevarerPris" class="text-danger"></span> <br />

        <label>Alkohol</label> <br />
        <input placeholder="[true] = yes" type="" class="form-control" asp-for="@Model.NytDrikkevarerAlkohol" /> <br />


        <input type="submit" value="Ændre Drikkevarer" class="btn  btn-success" asp-page-handler="Change" />
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>



</form>