@page
@using menukort.model;
@model menukort.Pages.Drikkevarerer.DrikkevarerModel
@{
    ViewData["Title"] = "Drikkevarerer";
}


<h1 class="jumbotron">Drikkevarer Menu</h1>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Drikkevarer nummer</th>
            <th scope="col">Navn</th>
            <th scope="col">Størrelse</th>
            <th scope="col">Pris</th>
            <th scope="col">Alkohol</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Drikkevarer k in Model.Drikkevarer)
        {
            <tr>
                <td>@k.Nummer</td>

                <td>@k.Navn</td>

                <td>@k.Størrelse</td>

                <td>@k.Pris</td>

                <td>@k.Alkohol</td>

                <td><a asp-page="EditPizza" asp-route-nummer="@k.Nummer">Ændre</a></td>

            </tr>
        }

    </tbody>
    
</table>

<form method="post">

    <input type="submit" value="Opret Drikkevarer" class="btn  btn-success" />

</form>


 