@page
@model menukort.Pages.Pizzaer.EditPizzaModel
@{
}
<h1>Ændre på Pizza</h1>

<form method="post">
    <div class="form-group">
        <label>Pizza nummer</label> : @Model.NytPizzaNummer<br />
        <input type="hidden" asp-for="@Model.NytPizzaNummer" />
        <br />

        <label>Pizza Navn</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytPizzaNavn" /> <br />
        <span asp-validation-for="@Model.NytPizzaNavn" class="text-danger"></span> <br />

        <label>Pizza Beskrivelse</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytPizzaBeskrivelse" /> <br />

        <label>Pizza Pris</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytPizzaPris" /> <br />
        <span asp-validation-for="@Model.NytPizzaPris" class="text-danger"></span> <br />

        <label>Vegan</label> <br />
        <input placeholder="[true] = yes" type="" class="form-control" asp-for="@Model.NytPizzaVegan" /> <br />

        <label>DeepPan</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytPizzaDeepPan" /> <br />

        <label>Familie Size</label> <br />
        <input type="" class="form-control" asp-for="@Model.NytPizzaFamilie" /> <br />


        <input type="submit" value="Ændre Pizza" class="btn  btn-success" asp-page-handler="Change" />
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>



</form>