@page
@using menukort.model;
@model menukort.Pages.Pizzaer.IndexModel
@{
    ViewData["Title"] = "Pizzaer";
}


<h1 class="jumbotron">Pizza Menu</h1>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Pizza nummer</th>
            <th scope="col">Navn</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">Pris</th>
            <th scope="col">Vegan</th>
            <th scope="col">DeepPan</th>
            <th scope="col">Familysize</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Pizza k in Model.Pizza)
        {
            <tr>
                <td>@k.Nummer</td>

                <td>@k.Navn</td>

                <td>@k.Beskrivelse</td>

                <td>@k.Pris</td>

                <td>@k.Vegan</td>

                <td>@k.DeepPan</td>

                <td>@k.FamilieSize</td>

            </tr>
        }
    </tbody>
    
</table>

<form method="post">

    <input type="submit" value="Opret Pizza" class="btn  btn-success" />

</form>


