@page
@using menukort.model;
@model menukort.Pages.Pizzaer.IndexModel
@{
    ViewData["Title"] = "Pizzaer";
}



<style>


    .jumbotron {
        font-family: 'pizza', cursive; 
        font-size: 48px;
        text-align: center;
        color: #ff6347; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    }

    .btn-success {
        background-color: #ff6347; 
        border-color: #ff6347; 
        font-family: 'Pizza', cursive; 
    }

    .table th, .table td {
        font-family: 'Pizza', cursive; 
        color: #ff6347; 
    }
</style>

<h1 class="jumbotron">Pizza Menu</h1>
<form method="post">

    <span id="opret">Vil du oprette en ny pizza tryk på</span> <input type="submit" value="Opret Pizza" class="btn  btn-success" />

</form>
<p></p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Pizza nummer</th>
            <th scope="col">Navn</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">Pris</th>
            <th scope="col">Vegan</th>
            <th scope="col">DeepPan</th>
            <th scope="col">Familysize</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Pizza k in Model.Pizza)
        {
            <tr>
                <td>@k.Nummer</td>

                <td>@k.Navn</td>

                <td>@k.Beskrivelse</td>

                <td>@k.Pris</td>

                <td>@k.Vegan</td>

                <td>@k.DeepPan</td>

                <td>@k.FamilieSize</td>

                <td><a asp-page="EditPizza" asp-route-nummer="@k.Nummer">Ændre</a></td>
                <td><a asp-page="DeletePizza" asp-route-nummer="@k.Nummer">Slet</a></td>


            </tr>
        }
    </tbody>
</table>
